/* 
    General Styles
*/

body{
    background-image: url("https://media0.giphy.com/media/fS9PCxQYG0ULu/giphy.gif");
    background-size: cover;
    color: aliceblue;
}
 .info{
    background-color: green;
 }
.list-group-item{
    font-size: 20px;
    width: 300px;
}

.form-check{
    width: 200px;
    margin: auto;
}

.checkBoxContainer{
    display: block;
}

.container{
    display: flex;
    justify-content: center;
}
.navbar,navbar-brand{
    background-color: black;
    color: white;

}
.home{
    color: white;
}
.btn{
    color: white;
}
