/* 
    General Styles
*/

body {
    background-image: url("https://media0.giphy.com/media/fS9PCxQYG0ULu/giphy.gif");
    background-size: cover;
    color: azure;
}

.info {
    background-color: green;
}

.list-group-item {
    font-size: 20px;
    width: 300px;
}

.form-check {
    width: 200px;
    margin: auto;
}

.checkBoxContainer {
    display: block;
}

.container {
    display: flex;
    justify-content: center;
}

.navbar, navbar-brand {
    background-color: black;
    color: white;
}

.btn {
    color: white;
}

.home {
    margin-left: 40px;
}

#outputNumber{
    background: none;
    font-size: 30px;
    font-weight: 400;

    color: red;
    text-shadow: 0 0 10px #ed1c1c,0 0 20px #ed1c1c,0 0 30px #ed1c1c,0 0 40px #79001e,0 0 70px #79001e;
}
